
  agm-map {
      height: 100%;
  }

  p {
      display: inline-block;
  }

  img {
      display: block;
  }

  .imgIcon {
    position: absolute;
    top: 0;
  }

  ion-icon { 
      color: lightcoral;
      //display: inline-block;
    }
